._2b8{min-height:374px}
.sp_isDIKtJuMmR_2x{background-image:url(/rsrc.php/v3/y8/r/8iCgxVLzXg-.png);background-size:21px 42px;background-repeat:no-repeat;display:inline-block;height:20px;width:20px}.sp_isDIKtJuMmR_2x.sx_4f8a84{background-position:0 0}.sp_isDIKtJuMmR_2x.sx_3ebf98{background-position:0 -21px}

#bootloader_UcJYd{height:42px;}.bootloader_UcJYd{display:block!important;}